<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accountbook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginAndRegistryActivity"
            android:label="" />
        <activity
            android:name=".view.activity.EditActivity"
            android:theme="@style/Add_theme" />
        <activity android:name=".view.activity.ClassifyActivity" />
        <activity android:name=".view.activity.EditBudgetActivity" />
        <activity android:name=".view.activity.RolesActivity" />

        <service android:name=".presenter.service.SyncService"></service>
        <service android:name=".presenter.service.NotificationService"></service>
    </application>

</manifest>